<html>
    <head>
        <title>Alexia Wolf Django blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Intro</a></h2>
            <p>He creado mi primer blog mediante Django Girls</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Hello World!</a></h2>
            <p>Create your own with my help in https://github.com/alexiawolf/my-first-blog</p>
        </div>
    </body>
</html>
